@import "src/styles.scss";

camera-view.disabled,
prey-list.disabled {
    pointer-events: none;
}

.time-stamp {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
    background-color: #25252583;
}

loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: $primary-color-5;
}

.playButton {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 5rem;
    width: 10rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: $action-radius;
    color: $primary-color;
}

.game-over-container {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    height: max-content;
    width: 20rem;
    max-width: 100%;
    border-radius: $container-radius;
    user-select: none;
    box-shadow: $ms-depth-shadow-4;

    * {
        display: block;
        padding: 0.5rem;
    }

    .title {
        background-color: $primary-color;
        color: white;
        font-weight: 600;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 0.5rem;
        border-top-left-radius: $container-radius;
        border-top-right-radius: $container-radius;
    }

    .game-name,
    .subtitle {
        font-size: 1.25rem;
        text-align: center;
        font-weight: 600;
        color: $primary-color;
        padding: 0.25rem
    }

    .game-name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .subtitle {
        margin-bottom: 0.5rem;
    }

    .score-descriptor {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 0.25;
        color: $dark-grey;
    }

    .final-score {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: 600;
        color: $primary-color;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    button.share,
    button.album {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: white;
        background-color: $primary-color-5;
        width: 14rem;

        i {
            margin-right: 0.5rem;
        }
    }

    button.share {
        top: calc(100% + 0.5rem);
    }

    button.album {
        top: calc(100% + 4.5rem);
    }
}

.error-msg {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    background-color: white;
    color: darkred;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    width: 10rem;
    margin: auto;
    border-radius: $action-radius;
}
