<camera-view #cameraView (imageCaptured)="imageCaptured($event)" *ngIf="gameStarting && !gameComplete && !viewPhotos"
    [class.disabled]="imageProcessing"></camera-view>
<prey-list #preyList [items]="items" (listComplete)="gameOver()" (itemSelected)="itemSelected($event)"
    *ngIf="gameInProgress && !gameComplete && !viewPhotos" [class.disabled]="imageProcessing"></prey-list>
<photo-album [gameName]="gameName" [preyImageMap]="preyImageMap" (close)="viewPhotoAlbum(false)"
    *ngIf="gameComplete && viewPhotos"></photo-album>

<div class="game-name-banner" *ngIf="cameraReady && !gameLoading && !gameInProgress && !scoring && !gameComplete"
    [@popFadeInState]="'active'">
    {{gameName}}
</div>
<button class="playButton" (click)="startGame();"
    *ngIf="cameraReady && !gameLoading && !gameInProgress && !scoring && !gameComplete" [@popFadeInState]="'active'">
    Start
</button>
<button class="shareButton" (click)="shareGame();"
    *ngIf="cameraReady && !gameLoading && !gameInProgress && !scoring && !gameComplete" [@popFadeInState]="'active'">
    <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
    Share
</button>
<button class="refreshButton" (click)="getRandomGame();"
    *ngIf="cameraReady && !gameLoading && !gameInProgress && !scoring && !gameComplete" [@popFadeInState]="'active'">
    <i class="ms-Icon ms-Icon--Refresh" aria-hidden="true"></i>
    Randomize
</button>

<loading-indicator *ngIf="cameraReady && (gameLoading || scoring)"></loading-indicator>

<div class="game-banner" *ngIf="gameInProgress">
    <span class="name">{{ gameName }}</span>
    <span class="time">{{ timeRemaining }}</span>
</div>

<div #scoreContainer class="game-over-container" *ngIf="gameComplete && !viewPhotos" [@popFadeInState]="'active'">
    <span class="title">Breath of Fresh Where?</span>
    <span class="game-name">{{gameName}}</span>
    <span class="subtitle">Scavenger Hunt Complete!</span>
    <span class="score-descriptor">
        <b>Items found:</b> {{ numItemsComplete }} out of {{ items.length }}
    </span>
    <span class="score-descriptor">
        <b>Time Remaining:</b> {{ timeRemaining }}
    </span>
    <span class="final-score">
        Final Score: {{ finalScore }}
    </span>

    <div class="button-container">
        <button class="share" (click)="shareScore(scoreContainer)" *ngIf="canShare" [disabled]="sharing">
            <ng-container *ngIf="!sharing">
                <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
                share game
            </ng-container>
            <loading-indicator *ngIf="sharing"></loading-indicator>
        </button>

        <button class="album" (click)="viewPhotoAlbum(true)">
            <i class="ms-Icon ms-Icon--PhotoCollection" aria-hidden="true"></i>
            view photos
        </button>
    </div>
</div>

<div class="error-msg" *ngIf="gameComplete && !sharing && errorSharing" [@popFadeInState]="'active'">
    {{ shareError }}
</div>