<camera-view #cameraView (gameStart)="startGame()" (imageCaptured)="imageCaptured($event)" *ngIf="!gameComplete"
    [class.disabled]="imageProcessing"></camera-view>
<prey-list #preyList [items]="items" (listComplete)="gameOver()" (itemSelected)="itemSelected($event)"
    *ngIf="gameInProgress && !gameComplete" [class.disabled]="imageProcessing"></prey-list>

<button class="playButton" (click)="startGame();" *ngIf="!gameLoading && !gameInProgress"
    [@popFadeInState]="'active'">Start</button>

<div class="time-stamp">
    {{ timeRemaining }}
</div>

<div #scoreContainer class="game-over-container" *ngIf="gameComplete" [@popFadeInState]="'active'">
    <span class="title">Breath of Fresh Where?</span>
    <span class="subtitle">{{gameName}}<br>Scavenger Hunt Complete!</span>
    <span class="score-descriptor">
        <b>Items found:</b> {{ numItemsComplete }} out of {{ items.length }}
    </span>
    <span class="score-descriptor">
        <b>Time Remaining:</b> {{ timeRemaining }}
    </span>
    <span class="final-score">
        Final Score: {{ finalScore }}
    </span>

    <button class="bordered share" (click)="shareScore(scoreContainer)" *ngIf="canShare" [disabled]="sharing">
        <ng-container *ngIf="!sharing">
            <i class="ms-Icon ms-Icon--Share" aria-hidden="true"></i>
            share
        </ng-container>
        <loading-indicator *ngIf="sharing"></loading-indicator>
    </button>
</div>

<div class="error-msg" *ngIf="gameComplete && !sharing && errorSharing" [@popFadeInState]="'active'">
    {{ shareError }}
</div>