@import "src/styles.scss";

.album-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $dark-grey;

    .title {
        display: flex;
        width: 100%;
        padding: 1rem;
        justify-content: space-between;
        align-items: center;
        user-select: none;

        span.name {
            font-size: 1.5rem;
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        button.close {
            font-size: 1.25rem;
            height: 2rem;
            width: 2rem;
            color: white;
            background-color: transparent;
        }
    }

    .scroll-container {
        position: absolute;
        top: 4rem;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;

        .photo-reel {
            position: relative;
            height: 100%;
            width: 100%;

            .photo {
                display: block;
                width: 20rem;
                height: max-content;
                max-width: 80%;
                box-shadow: $ms-depth-shadow-4;
                border-radius: $container-radius;
                margin-top: 1rem;
                margin-left: auto;
                margin-right: auto;
                overflow: hidden;

                img {
                    object-fit: contain;
                    width: 100%;
                }

                .caption-bar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 1rem;
                    background-color: white;

                    span.name {
                        font-weight: 600;
                        user-select: none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $dark-grey;
                    }

                    button.save {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
