.video-container {
    position: fixed;
    top: 6rem;
    left: 0;
    right: 0;
    bottom: 6rem;
    background-color: black;

    video {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    canvas {
        display: none;
    }

    .playButton {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: 5rem;
        width: 10rem;
        font-size: 2rem;
        font-weight: 600;
        border-radius: 4px;
    }

    .button-bar {
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;

        .captureButton,
        .flipButton {
            height: 4rem;
            width: 4rem;
            font-size: 2rem;
            font-weight: 600;
            padding: 0;
            border: none;
            border-radius: 4px;
            margin-left: 0.5rem;
            margin-right: 0.5rem;

            i {
                vertical-align: middle;
            }
        }
    }
}
