@import 'src/styles.scss';

.title-bar {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    height: 6rem;
    padding: 0 1rem;

    .home-button {
        margin-right: 1rem;
        color: $contrast-secondary-color;
    }

    .title {
        color: white;
    }
}

.page-wrapper {
    padding: 1rem;
}