@import 'src/styles.scss';

.home-container {
    padding: 1rem;

    .text-box {
        color: white;
        font-size: 1.25rem;
    }

    .button-container {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
    
        button {
            margin-bottom: 1rem;
            width: 100%;
            max-width: 20rem;
            background-color: black;
            color: $primary-color-5;
        
            &.play {
                border-color: $primary-color-5;
            }
        }
    }
}