<div class="home-container">
    <div class="text-box">
        Promoting healthier living by gamifying getting up and out of your house <br> <br>
        
        <ol>
            <li>Press PLAY to start a new game</li>
            <li>You will be given a list of items to find</li>
            <li>Use your phone camera to take pictures of items</li>
            <li>You will have 20 minutes to find as many items as you can</li>
            <li>Microsoft Computer Vision will be utilized to validate pictures match the given items</li>
            <li>Share your score with friends and family!</li>
        </ol>
    </div>
    <div class="button-container">
        <button class="play" (click)="start()">PLAY</button>
    </div>
</div>
